<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<form action="#" th:action="@{/}" th:object="${blog}" method="post">
    <table>
        <tr>
            <td>Title:</td>
            <td><input type="text" th:field="*{title}"/></td>
            <td th:if="${#fields.hasErrors('title')}" th:errors="*{title}">Title Error</td>
        </tr>
        <tr>
            <td>Content:</td>
            <td><input type="text" th:field="*{content}"/></td>
            <td th:if="${#fields.hasErrors('content')}" th:errors="*{content}">Content Error</td>
        </tr>
        <tr>
            <td>
                <button type="submit">Submit</button>
            </td>
        </tr>
    </table>
</form>
</body>
</html>